<h2 class="contact__title">Login</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="formContato" >
        <input type="email" [(ngModel)]="logins.login"
        placeholder="Digite o seu e-mail"
        formControlName="email"
        [class.valid]="formContato.controls['email'].valid" 
        [class.invalid]="formContato.controls['email'].invalid && 
        (formContato.controls['email'].touched || formContato.controls['email'].dirty) ">
         
    <div *ngIf="formContato.controls['email'].invalid && 
        (formContato.controls['email'].touched || formContato.controls['email'].dirty)">
       
        <small class="error-message" *ngIf=" formContato.controls['email'].hasError('email')">
         Esse campo precisa ser um e-mail válido
        </small>
        <small class="error-message" *ngIf=" formContato.controls['email'].hasError('required')">
         Esse campo precisa ser preenchido.
        </small>  
   </div>
   
   <input type="password" [(ngModel)]="logins.password"
   placeholder="Digite o sua senha"
   formControlName="senha"
   [class.valid]="formContato.controls['senha'].valid" 
   [class.invalid]="formContato.controls['senha'].invalid && 
   (formContato.controls['senha'].touched || formContato.controls['senha'].dirty)">
   
   <div *ngIf="formContato.controls['senha'].invalid && 
        (formContato.controls['senha'].touched || formContato.controls['senha'].dirty)">
       
        <small class="error-message" *ngIf=" formContato.controls['senha'].hasError('minlength')">
         Esse campo precisa ser um e-mail válido
        </small>
        <small class="error-message" *ngIf=" formContato.controls['senha'].hasError('required')">
         Esse campo precisa ser preenchido.
        </small>  
      
   </div>
        <button [disabled]="formContato.invalid" type="submit" (click)="doLogin()">Entrar</button>
        <div class="opcao">
            <p> <a href="#">Esqueci a senha</a></p>
            <p>É novo por aqui ? <a routerLink="cadastrar">Cadastrar</a></p>
        </div>
    </form>
</section>

