<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates rem sequi temporibus corrupti reiciendis accusantium eum.
             Odit modi, voluptate debitis mollitia, reiciendis placeat repellendus iste,praesentium reprehenderit ipsa hic nulla.
            </p>
        </section>
        <address>        
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>juneba.com</li>
                <li><i class="fa-solid fa-phone"></i>(21) 970312251</li>
                <li><i class="fa-brands fa-whatsapp"></i>(21) 999-8877</li>
            </ul>
        </address>
    </div>
        <section class="footer__copyright">
            &copy; Todos os direitos reservados.

        </section>
    
</footer>